html, body {
  height: 100%;
  width: 100%;
}
.container{

  border:3px solid black;
  border-radius: 8px;
  width: 88vw;
  
  
  background: lightgrey ;
}

.button{
  
  padding: 20px;
  margin: 0 3px;
  border:2px solid black;
  border-radius: 8px;
  cursor: pointer;
  width:52px;
  background: lightsteelblue ;
}


.row{

  margin: 6px 0;
  display:flex;
}
.row input{  

margin: 0px;
    padding: 8px 9px;
    border-radius: 5px;
    border: 2px solid black;
   
}
.r0{
    
    top: 8%;
}
.r1{
     
    top: 18%;
}
.r2{
      
    top: 31%;
}
.r3{
     
    top: 43%;
}
.r4{
  
    top: 56%;
}
.r5{
  
  top:69%;
}

  

